# datasets & archives
CVPR_2024_dataset_Train/
CVPR_2024_dataset_Val/
CVPR_2024_dataset_Test/
garbage_data/
*.tar.gz

# models & outputs
best_model.pth
slurm_*.out

# python junk
__pycache__/
*.pyc
venvs/
Lawrencium_X/
TL/

